.node {
    stroke: #000;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-width: 1.5px;
}
/*.d3-graphic {*/
    /*margin: 0 auto;*/
    /*display: block;*/
/*}*/

/*.d3-line {*/
    /*stroke: #999;*/
    /*stroke-opacity: 0.6;*/
/*}*/