/*----------------------------- </Nodes> -----------------------------*/

.node {
    cursor: pointer;
    stroke: #980b00;
    stroke-width: 3px;
    /*fill: rgb(255, 117, 109);*/
}

/*----------------------------- </Nodes> -----------------------------*/


/*----------------------------- </Links> -----------------------------*/

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 1px;
}

/*----------------------------- </Links> -----------------------------*/


/*----------------------------- Nodes Text -----------------------------*/

.text {
    fill: white;
    text-anchor: middle;
}

/*----------------------------- Nodes Text -----------------------------*/
