
/*.networkGraph-graphic {*/
    /*margin: 0 auto;*/
    /*display: block;*/
/*}*/

/*.networkGraph-line {*/
    /*stroke: #999;*/
    /*stroke-opacity: 0.6;*/
/*}*/

.custom-nodes {
    cursor: pointer;
    stroke: #bd1a00;
    stroke-width: 1.5px;
}