body {
    background-color: #E6E6E6;
}

svg {
    width: 960px;
    height: 500px;
}



.node {
    pointer-events: all;
    cursor: pointer;
    z-index: 1000;
}


.node text {
    font: 8px sans-serif;
}